body {
  display: flex;
  flex-wrap: wrap;
}

article {
  border: solid black 1px;
  border-radius: 3%;
  margin: 1rem;
  padding: 2rem;
}

textarea {
  resize: none;
}

.Checkbox1 .Checkbox_color {
  color: rgb(10, 71, 129) !important;
}
